h1,h2{color: orange;}
h6{font-size: 1rem;}
h6{color: yellowgreen;}
body{background-color: rgb(27, 26, 26);}
*{color: white;}
body img{border-radius: 50%;}
body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}